/* HEADER - MY-TOP //////////////////*/
.my_nav-top{
    height: 70px;
}

.navbar-brand{
    display: block;
    width: 40px;
}

/* MAIN //////////////////*/
main{
    height: calc(100vh - 70px);
}


/* MAIN - MY-OVERFLOW-BOX //////////////////*/
.my_aside{
    background-color: aqua;
    width: 65px;
}

/* MAIN - MY-MAIN-CONTENT //////////////////*/
.my_main-content{
    background-color: chocolate;
    width: calc(100% - 65px);
    overflow-y: auto;
}

.my_main-content::-webkit-scrollbar {
    display: none;
}
  